<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">
        <table>
            <tbody>
                <tr>
                    <td>title:</td>
                    <td>
                        <input type="text" name="title">
                    </td>
                </tr>
                <tr>
                    <td>content:</td>
                    <td>
                        <input type="text" name="content">
                    </td>
                </tr>
                <tr>
                    <td>tags:</td>
                    <td>
                        <label>
                            Python
                            <input type="checkbox" name="tags" value="python">
                        </label>
                        <label>
                            Django
                            <input type="checkbox" name="tags" value="django">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="submit" value="submit">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>